@import "./variables.scss";
.glitch {
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0.1em;
  position: relative;
  &.isGlitchHide p {
    animation: glitchHide 0.5s $easeInOutCubic;
    animation-fill-mode: forwards;
  }
  &.isGlitch p {
    animation: glitch 3s $easeInOutCubic 0s infinite;
  }
  @keyframes glitch {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    1% {
      transform: translateX(20px);
      opacity: 1;
    }
    2% {
      transform: translateX(-10px);
    }
    3% {
      transform: translateX(0px);
      opacity: 1;
    }
    96% {
      opacity: 1;
    }
    97% {
      opacity: 0;
    }
    98% {
      opacity: 1;
    }
  }
  @keyframes glitchHide {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    1% {
      transform: translateX(20px);
      opacity: 1;
    }
    2% {
      transform: translateX(-10px);
    }
    3% {
      transform: translateX(0px);
      opacity: 1;
    }
    96% {
      opacity: 1;
    }
    97% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  p {
    position: absolute;
    top: 0;
    left: 0;

    &:nth-child(1) {
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%);
      animation-delay: 0s;
    }
    &:nth-child(2) {
      clip-path: polygon(0 25%, 100% 25%, 100% 25% * 2, 0 25% * 2);
      animation-delay: 0.02s;
    }
    &:nth-child(3) {
      clip-path: polygon(0 25% * 2, 100% 25% * 2, 100% 25% * 3, 0 25% * 3);
      animation-delay: 0.01s;
    }
    &:nth-child(4) {
      clip-path: polygon(0 25% * 3, 100% 25% * 3, 100% 25% * 4, 0 25% * 4);
      animation-delay: 0.03s;
    }
  }
}
